.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 30px;
  z-index: 10;
}
.header-scroll-bg{
  background-color: rgba(0, 0, 0, 0.85);
  transition: .5s;
}
.nav-menu {
  display: flex;
  margin-right: 20px
}
.nav-menu li {
  padding: 0 1rem;

}
.nav-menu li a {
  font-size: 1rem;
  font-weight: 500;
}
.nav-menu li a:hover {
  color: yellowgreen;
  transition: 0.5s;
}
.hamburger {
  display: none;
  margin-right: 35px;
}
@media screen and (max-width: 1000px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -5;
    transition: 1.5s;
  }
  .active{
    left: 0%;
  }
  .nav-menu li {
    padding: 1rem;
  }
  .nav-menu li a {
    font-size: 1.2rem;
  }
  .hamburger {
    display: initial;
  }
}
